<%- include("includes/head.ejs") %>

<body>
    <h1>EJS Templating Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, iste similique rerum eaque harum, saepe
        consectetur commodi earum totam nobis asperiores fugiat reprehenderit alias laudantium voluptate eum maxime,
        quasi voluptatem. Modi sequi tempore facilis maxime quod sint repudiandae eum ratione? Quisquam atque quidem
        veritatis non sed illo reiciendis possimus maiores!</p>
    <button>submit</button>
</body>

</html>