.card{
    display: inline-block;
    margin-right: 10px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 10px black;
    margin-right: 18px;
    transition: .2s;
}
.desc{
    padding: 0 0 0 10px;
}
img{
    border-radius: 10px 10px 0 0;
    border: 2px solid black;
}
p{
    font-weight: 600;
}
.card:hover{
    box-shadow: 0 16px 12px black;
}